<div class="wrapper">
    <form [formGroup]="formGroup">
        <h2>Set up a group</h2>

        <mat-card>
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </mat-card>

        <mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Pace (minutes per mile)</mat-label>
            <input matInput formControlName="paceFrom">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Distance (miles)</mat-label>
            <input matInput formControlName="distance">
          </mat-form-field>
        </mat-card>

        <mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Capacity</mat-label>
            <input matInput formControlName="capacity">
          </mat-form-field>
        </mat-card>

        <div class="form-actions">
          <button mat-flat-button color="primary" (click)="onSave()">Save</button>

          <button mat-flat-button (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>

<pre class="wrapper">
Form status: {{ formGroup.status }}

{{ formGroup.value | json }}
</pre>

<!--
paceTo?: string | null;
topographyId?: string | null;
locationId: string;
leaderId: string;
organisationId: string; -->
