<div class="wrapper">
  <h2>Set up a group</h2>

  <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field appearance="outline">
      <mat-label>Pace</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Distance</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field appearance="outline">
      <mat-label>Cost</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Capacity</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-card>

  <div class="form-actions">
    <button mat-flat-button color="primary">Save</button>

    <button mat-flat-button>Cancel</button>
  </div>
</div>

<!--
paceTo?: string | null;
topographyId?: string | null;
locationId: string;
leaderId: string;
organisationId: string; -->
