/* Styles that should be applied globally go here. Remember to add to styles in agular-cli.json */

// Generic
// @import '~normalize.css/normalize.css';
@import 'generic/theming';

// // Elements
// @import 'elements/star';
// @import 'elements/body';

// Objects

:root {
  --color-primary: #f89829;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fff;
}

.wrapper {
  padding: 0 1rem 1rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  .icon {
    margin-right: 0.5rem;
  }
}
