fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.filter-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  legend {
    font-weight: 500;
    position: relative;
    top: -7px;
    white-space: nowrap;
  }

  .mat-form-field {
    width: 80px;
  }

  * {
    flex: 1;
    margin-right: 0.5rem;
  }
}
