html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #efefef;
}

.wrapper {
  padding: 0 1rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  .icon {
    margin-right: 0.5rem;
  }
}
