:host {
  display: block;
  padding-top: 1rem;
}

.avatar {
  background-color: #ccc;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  line-height: 40px;
  color: #fff;
}

.search-field {
  width: 100%;
  margin-top: 1rem;
}

.new-club-link {
  margin-top: 2rem;
  text-align: center;
}
