<div class="navigation">
    <button class="button previous" (click)="onPreviousWeek()"><mat-icon class="icon">chevron_left</mat-icon></button>

    <h2 class="heading">
        {{ selectedDate | date : 'MMMM' }}
        {{ selectedDate | date : 'yyyy' }}
    </h2>

    <button class="button week" (click)="onNextWeek()"><mat-icon class="icon">chevron_right</mat-icon></button>
</div>

<div class="days">
    <div class="day" *ngFor="let date of dates">
        <div class="name">
            {{ date | date : 'EEE' }}
        </div>

        <button class="value" [class.active]="date === selectedDate" (click)="onSelectDate(date)">
            {{ date | date : 'd'  }}
        </button>
    </div>
</div>