<mat-card class="card">
    <div class="column">
        <h2 class="date-time">
            <span class="date">{{ session.date | date : 'dddd Do MMMM' }}</span>

            <span class="time">{{ session.time | time }}</span>
        </h2>

        <div class="content">
            <p class="leader" *ngIf="session.run.leader?.cognitoId">Led by <strong>{{ session.run.leader.firstName }} {{ session.run.leader.lastName }}</strong></p>

            <p class="title" *ngIf="session.run.title">{{ session.run.title }}</p>

            <p class="description" *ngIf="session.run.description">{{ session.run.description }}</p>
        </div>

        <ul class="icon-list">
            <li *ngIf="session.run.paceFrom" class="icon-list-item">
                <mat-icon class="icon">speed</mat-icon>

                <span class="text">{{ [ session.run.paceFrom, session.run.paceTo ] | pace }}</span>
            </li>

            <li *ngIf="hasDistanceOrTopography" class="icon-list-item">
                <mat-icon>terrain</mat-icon>

                <span class="text">
                    <span *ngIf="session.run.distance">{{ session.run.distance }} miles</span>

                    <span *ngIf="session.run.topography?.title && session.run.distance"> ({{ session.run.topography.title | lowercase }})</span>

                    <span *ngIf="session.run.topography?.title && !session.run.distance">{{ session.run.topography.title }}</span>
                </span>
            </li>

            <li *ngIf="session.run?.location?.name" class="icon-list-item">
                <mat-icon>location_on</mat-icon>

                <span class="text">{{ session.run.location.name }}</span>
            </li>
        </ul>
    </div>

    <div class="column last">
        <button *ngIf="isBooked" class="cancel-button" mat-stroked-button color="warn" (click)="onCancelSession(session.id)">
            <mat-icon class="icon">delete</mat-icon>
            <span>Cancel</span>
        </button>

        <ng-container *ngIf="!isBooked">
            <button *ngIf="remainingSpaces" class="book-button" mat-flat-button color="primary" (click)="onBookSession(session.id)">Book</button>

            <button *ngIf="!remainingSpaces" disabled class="book-button" mat-flat-button color="primary" (click)="onBookSession(session.id)">Full</button>
        </ng-container>

        <p *ngIf="isBooked || (!isBooked && remainingSpaces)" class="spaces"><strong>{{ remainingSpaces }}</strong> spaces</p>
    </div>
</mat-card>
