:host {
  display: block;
  padding-top: 1rem;
}

.bookings-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #f89829;
    font-weight: bold;
  }
}
