:host {
  display: block;
  padding-bottom: 1rem;
}

.bookings-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .heading {
    margin-bottom: 0;
  }
}

.no-bookings {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;

  .icon {
    font-size: 80px;
    width: 80px;
    color: #ddd;
  }
}

.sessions-wrapper {
  margin-top: 1rem;

  .card:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
}

.sign-out {
  text-align: center;
  font-size: 1.125rem;

  .link {
    color: #f00;
  }
}
