<div class="wrapper week-navigation">
    <running-groups-week-navigation
        [dates]="dates"
        [selectedDate]="selectedDate"
        (previousWeek)="shiftDate(-7)"
        (nextWeek)="shiftDate(7)"
        (selectDate)="onSelectDate($event)"
    ></running-groups-week-navigation>
</div>

<div class="wrapper count-and-filter">
    <p class="count">{{ runs.length }} runs found</p>
    <button class="filter" mat-stroked-button>
        <mat-icon>filter_list</mat-icon>
        Filter
    </button>
</div>

<div class="wrapper runs">
    <ng-container *ngFor="let run of runs">
        <running-groups-run-card [attr.data-session-date]="run.date" class="card" [session]="run" (bookSession)="onBookSession($event)" (cancelSession)="onCancelSession($event)"></running-groups-run-card>
    </ng-container>
</div>

<running-groups-calendar-list></running-groups-calendar-list>