<!-- <button mat-stroked-button color="primary" (click)="onLoadTopographies()">Load topographies</button> -->

<!-- <button mat-stroked-button color="primary" (click)="onLoadLocations()">Load locations</button> -->

<mat-card class="card" *ngIf="topographies && topographies.length">
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let topography of topographies">{{ topography.title }}</mat-list-item>
    </mat-list>
</mat-card>

<mat-card class="card" *ngIf="locations && locations.length">
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let location of locations">{{ location.name }}</mat-list-item>
    </mat-list>
</mat-card>

<running-groups-week-navigation
    [dates]="dates"
    [selectedDate]="selectedDate"
    (previousWeek)="shiftDate(-7)"
    (nextWeek)="shiftDate(7)"
    (selectDate)="onSelectDate($event)"
></running-groups-week-navigation>

<ng-container *ngFor="let run of runs">
    <running-groups-run-card class="card" [session]="run" (bookSession)="onBookSession($event)"></running-groups-run-card>
</ng-container>

<running-groups-calendar-list></running-groups-calendar-list>