:host {
  display: flex;
  flex-direction: column;
}

.card {
  margin-bottom: 1rem;
}

.avatar {
  background-color: #222;
  border-radius: 50%;
}

.subtitle {
  margin-bottom: 0;
}

button {
  margin-bottom: 1rem;
}

.spinner {
  margin: 3rem auto;
}
