<button mat-stroked-button color="primary" (click)="onLoadTopographies()">Load topographies</button>

<button mat-stroked-button color="primary" (click)="onLoadLocations()">Load locations</button>

<button mat-stroked-button color="primary" (click)="onLoadRuns()">Load runs</button>

<mat-card class="card" *ngIf="topographies && topographies.length">
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let topography of topographies">{{ topography.title }}</mat-list-item>
    </mat-list>
</mat-card>

<mat-card class="card" *ngIf="locations && locations.length">
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let location of locations">{{ location.name }}</mat-list-item>
    </mat-list>
</mat-card>

<mat-card class="card" *ngIf="runs && runs.length">
    <pre>{{ runs | json }}</pre>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let run of runs"></mat-list-item>
    </mat-list>
</mat-card>

<running-groups-calendar-list></running-groups-calendar-list>